$color-red: #e60012;
$color-black: #000;
$color-white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $color-white;
  background: $color-black;
}
li {
  list-style: none;
}
input[type="radio"] {
  display: none;
}


.slider {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;

  &__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 3rem;
    opacity: 0;
    visibility: hidden;
    transform-origin: right center;
    transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(.95);
    transition: all 1s ease,transform 1s cubic-bezier(.43, .28, .51, 1);

    &-img {
      width: 100%;
      height: 60%;
      position: relative;
      overflow: hidden;
    }
  }
}

#s-1:checked ~ .slider .slider__item.img-1,
#s-2:checked ~ .slider .slider__item.img-2,
#s-3:checked ~ .slider .slider__item.img-3 {
  opacity: 1;
  visibility: visible;
  transform-origin: left center;
  transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
}

.img-full {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate3d(-50%, -50%, 0);
}

.pic-caption {
  display: block;

  &-h3 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-red;
    color: #eee;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.slider_nav {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);

  .prev {
    left: 0;
  }

  .next {
    right: 0;
    transform: rotateY(180deg);

    &:hover {
       transform: rotateY(180deg) translate3d(-30%, 0, 0);
    }
  }

  &_item {
    position: absolute;
    display: none;
    width: 4rem;
    height: 4rem;
    border: 1px solid $color-red;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s all cubic-bezier(.075, .82, .165, 1);

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 1rem;
      top: 55%;
      width: 1rem;
      height: 1px;
      background-color: $color-red;
      transform-origin: left bottom;
      transform: translate3d(0, -50%, 0) rotate(-45deg);
      transition: 1s all cubic-bezier(.075, .82, .165, 1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 55%;
      left: 50%;
      width: 2rem;
      height: 1px;
      background-color: $color-red;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
      transform: translate3d(-30%, 0, 0);

      &:before {
        transform: translate3d(0, -50%, 0) rotate(-30deg);
      }
    }

  }
}


#s-1:checked ~ .slider .slider_nav .s-nav-1,
#s-2:checked ~ .slider .slider_nav .s-nav-2,
#s-3:checked ~ .slider .slider_nav .s-nav-3 {
  display: block;
}
.slider_indicator {
  position: absolute;
  left: 0;
  top: 63%;
  width: 100%;
  text-align: center;
}
.slider-indi {
  position: relative;
  display: inline-block;
  padding: 2rem;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: $color-red;
    transform: translate3d(-50%, -50%, 0);
  }

  &:hover::after {
    transform: translate3d(-50%, -50%, 0) scale(1.5);
    transition: 1s all cubic-bezier(.075, .82, .165, 1);
  }
}

#s-1:checked ~ .slider .slider_indicator .indi-1:after,
#s-2:checked ~ .slider .slider_indicator .indi-2:after,
#s-3:checked ~ .slider .slider_indicator .indi-3:after {
  transform: translate3d(-50%, -50%, 0) scale(2.5);
}
